{% extends 'default/templates/admin_base.html' %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap-markdown.min.css') }}"/>
{% endblock %}

{% block extra_js %}
<script src="//google-code-prettify.googlecode.com/svn/loader/run_prettify.js"type="text/javascript"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/markdown.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/to-markdown.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap-markdown.js') }}"></script>
{% endblock %}

{% block page_header %}
New Post
{% endblock %}

{% block controls %}
<form role="form" method="post">
    {{ post_form.csrf_token }}

    <div class="form-group">
        {% if post_form.errors['title'] %}
        <label for="title" class="alert-danger">Title: {{ post_form.errors['title'][0] }} </label>
        {% else %}
        <label for="title">Title</label>
        {% endif %}

        <input class="form-control"     id="title" name="title" type="text" placeholder="Title" />
    </div>
    <div class="form-group">
        {% if post_form.errors['content'] %}
        <label for="content" class="alert-danger">Content: {{ post_form.errors['content'][0] }} </label>
        {% else %}
        <label for="content">Content</label>
        {% endif %}
        <textarea id="content" name="content" data-provide="markdown" rows="10"></textarea>
    </div>
    <div class="form-group">
        {% if post_form.errors['category'] %}
        <label for="category" class="alert-danger">Category: {{ post_form.errors['category'][0] }} </label>
        {% else %}
        <label for="category">Category</label>
        {% endif %}
        <select class="form-control" name="category" id="category">
            <option value="">-</option>
            {% for cat in manager.categories() %}
            <option value="{{ cat.id }}">{{ cat.name }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="form-group">
        {% if post_form.errors['summary'] %}
        <label for="summary" class="alert-danger">Summary: {{ post_form.errors['summary'][0] }} </label>
        {% else %}
        <label for="summary">Summary</label>
        {% endif %}
        <textarea class="form-control" id="summary" name="summary" width="100%" rows="3"></textarea>
    </div>
    <hr/>
    <button type="submit" class="btn btn-primary"><i class="fa fa-share"></i> Publish</button>
</form>
{% endblock %}
