<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    Admin Index
    <hr/>
    <a href="{{ url_for('admin_add_post') }}">New</a>
    <table>
        <thead>
            <tr>
                <th>Title</th>
                <th>Author</th>
                <th>Created</th>
                <th>Summary</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for post in manager.posts() %}
            <tr>
                <td>{{ post.title }}</td>
                <td>{{ post.author.nickname }}</td>
                <td>{{ post.created }}</td>
                <td>{{ post.summary }}</td>
                <td>

                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>